Repository rollerworks/search, pull requests merged in 2018-04, with the labels that each got.

#221 [Elasticsearch] support for setting preconditions
  lib/Core/Test/SearchIntegrationTestCase.php
  lib/Elasticsearch/QueryConditionGenerator.php
  lib/Elasticsearch/Tests/QueryConditionGeneratorTest.php
Labels: Feature

#223 Remove ConditionOptimizers
  UPGRADE-2.0.md
  lib/ApiPlatform/Doctrine/Orm/CollectionDataProvider.php
  lib/ApiPlatform/Processor/ApiSearchProcessor.php
  lib/ApiPlatform/Tests/Processor/ApiSearchProcessorTest.php
  lib/Core/ConditionOptimizer/ChainOptimizer.php
  lib/Core/ConditionOptimizer/DuplicateRemover.php
  lib/Core/ConditionOptimizer/RangeOptimizer.php
  lib/Core/ConditionOptimizer/ValueSortCompare.php
  lib/Core/ConditionOptimizer/ValuesToRange.php
  lib/Core/Extension/Core/ValueComparator/BirthdayValueComparator.php
  lib/Core/Extension/Core/ValueComparator/DateValueComparator.php
  lib/Core/Extension/Core/ValueComparator/MoneyValueComparator.php
  lib/Core/Extension/Core/ValueComparator/NumberValueComparator.php
  lib/Core/Field/FieldConfig.php
  lib/Core/GenericSearchFactory.php
  lib/Core/SearchConditionOptimizer.php
  lib/Core/SearchFactory.php
  lib/Core/SearchFactoryBuilder.php
  lib/Core/Searches.php
  lib/Core/Test/SearchConditionOptimizerTestCase.php
  lib/Core/Tests/ConditionOptimizer/ChainOptimizerTest.php
  lib/Core/Tests/ConditionOptimizer/DuplicateRemoverTest.php
  lib/Core/Tests/ConditionOptimizer/RangeOptimizerTest.php
  lib/Core/Tests/ConditionOptimizer/ValuesToRangeTest.php
  lib/Core/Tests/Extension/Core/ValueComparison/DateValueComparisonTest.php
  lib/Core/Tests/Extension/Core/ValueComparison/MoneyValueComparisonTest.php
  lib/Core/ValueIncrementer.php
  lib/Processor/Psr7SearchProcessor.php
  lib/Symfony/SearchBundle/DependencyInjection/Compiler/ConditionOptimizerPass.php
  lib/Symfony/SearchBundle/DependencyInjection/RollerworksSearchExtension.php
  lib/Symfony/SearchBundle/Resources/config/condition_optimizers.xml
  lib/Symfony/SearchBundle/Resources/config/services.xml
  lib/Symfony/SearchBundle/RollerworksSearchBundle.php
  lib/Symfony/SearchBundle/Tests/Functional/ApiPlatformTest.php
  phpstan.neon
  psalm.xml
Labels: BC Break, Core

#225 [Core] Add CachingInputProcessor for caching input
  lib/Core/Input/CachingInputProcessor.php
  lib/Core/SearchCondition.php
  lib/Core/Tests/Input/CachingInputProcessorTest.php
  lib/Core/Tests/Mock/EmptyInputProcessorStub.php
  lib/Core/Tests/Mock/FieldSetStub.php
  lib/Core/Tests/Mock/SpyingInputProcessor.php
  lib/Core/Tests/Mock/StubInputProcessor.php
Labels: Core, Feature

#226 [ApiPlatform] Move Processor logic to listener
  UPGRADE-2.0.md
  lib/ApiPlatform/EventListener/SearchConditionListener.php
  lib/ApiPlatform/Processor/ApiSearchProcessor.php
  lib/ApiPlatform/Processor/NullCache.php
  lib/ApiPlatform/Tests/EventListener/SearchConditionListenerTest.php
  lib/ApiPlatform/Tests/Mock/EmptyInputProcessorStub.php
  lib/ApiPlatform/Tests/Mock/FieldSetStub.php
  lib/ApiPlatform/Tests/Mock/SpyingInputProcessor.php
  lib/ApiPlatform/Tests/Mock/StubInputProcessor.php
  lib/ApiPlatform/Tests/Processor/ApiSearchProcessorTest.php
  lib/Core/Input/ProcessorConfig.php
  lib/Processor/ProcessorConfig.php
  lib/Symfony/SearchBundle/Resources/config/api_platform.xml
  lib/Symfony/SearchBundle/Tests/Functional/ApiPlatformTest.php
  phpstan.neon
Labels: API-Platform, BC Break, Feature

#227 Remove the SearchProcessor
  UPGRADE-2.0.md
  composer.json
  lib/Processor/.gitattributes
  lib/Processor/.gitignore
  lib/Processor/AbstractSearchProcessor.php
  lib/Processor/CachedSearchProcessor.php
  lib/Processor/HttpFoundationSearchProcessor.php
  lib/Processor/LICENSE
  lib/Processor/ProcessorConfig.php
  lib/Processor/Psr7SearchProcessor.php
  lib/Processor/README.md
  lib/Processor/SearchPayload.php
  lib/Processor/SearchProcessor.php
  lib/Processor/Tests/CacheSearchProcessorTest.php
  lib/Processor/Tests/Fixtures/FieldSet/UserFieldSet.php
  lib/Processor/Tests/GenericSearchProcessorTest.php
  lib/Processor/composer.json
  lib/Processor/phpstan.neon
  lib/Processor/phpunit.xml.dist
  lib/Symfony/SearchBundle/DependencyInjection/Configuration.php
  lib/Symfony/SearchBundle/DependencyInjection/RollerworksSearchExtension.php
  lib/Symfony/SearchBundle/Processor/HttpFoundationSearchProcessor.php
  lib/Symfony/SearchBundle/Resources/config/search_processor.xml
  lib/Symfony/SearchBundle/Tests/Functional/Application/AppBundle/Controller/SearchController.php
  lib/Symfony/SearchBundle/Tests/Functional/SearchProcessorTest.php
  phpstan.neon
Labels: BC Break, Enhancement
