Repository rollerworks/search, pull requests merged in 2018-11, with the labels that each got.

#243 Fix the tests
  composer.json
  lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  lib/Core/Tests/Extension/Core/DataTransformer/NumberToStringTransformerTest.php
  lib/Core/Tests/Extension/Core/Type/MoneyTypeTest.php
  lib/Core/Tests/Extension/Core/Type/NumberTypeTest.php
  lib/Symfony/SearchBundle/Resources/config/input_processor.xml
Labels: Bug

#247 [Core] Fix StringQuery group-logical at first pos
  lib/Core/Input/StringInput.php
  lib/Core/Tests/Input/StringQueryInputTest.php
Labels: Bug, Core

#248 [Elasticsearch] has_child support
  lib/Elasticsearch/FieldMapping.php
  lib/Elasticsearch/QueryConditionGenerator.php
  lib/Elasticsearch/Tests/Functional/ConditionGeneratorResultsTest.php
  lib/Elasticsearch/Tests/Functional/FunctionalElasticsearchTestCase.php
  lib/Elasticsearch/Tests/QueryConditionGeneratorTest.php
Labels: Elasticsearch, Feature
