Repository rollerworks/search, pull requests merged in 2019-01, with the labels that each got.

#255 [Core] order-by support
  lib/ApiPlatform/Tests/Mock/FieldSetStub.php
  lib/Core/Extension/Core/DataTransformer/OrderTransformer.php
  lib/Core/Field/GenericResolvedFieldType.php
  lib/Core/Field/OrderField.php
  lib/Core/Field/OrderFieldType.php
  lib/Core/FieldSet.php
  lib/Core/GenericFieldSet.php
  lib/Core/Input/ConditionStructureBuilder.php
  lib/Core/Input/JsonInput.php
  lib/Core/Input/NormStringQueryInput.php
  lib/Core/Input/OrderStructureBuilder.php
  lib/Core/Input/StringInput.php
  lib/Core/Input/StringLexer.php
  lib/Core/Input/StringQueryInput.php
  lib/Core/SearchCondition.php
  lib/Core/SearchOrder.php
  lib/Core/SearchPrimaryCondition.php
  lib/Core/StructureBuilder.php
  lib/Core/Tests/Field/OrderFieldTest.php
  lib/Core/Tests/Input/InputProcessorTestCase.php
  lib/Core/Tests/Input/JsonInputTest.php
  lib/Core/Tests/Input/StringQueryInputTest.php
  lib/Core/Tests/Mock/FieldSetStub.php
  lib/Doctrine/Dbal/Tests/CachedConditionGeneratorTest.php
  lib/Doctrine/Orm/Tests/CachedDqlConditionGeneratorTest.php
  lib/Doctrine/Orm/Tests/CachedNativeQueryConditionGeneratorTest.php
Labels: Core, Feature

#256 [Elasticsearch] order-by support
  lib/ApiPlatform/Elasticsearch/Extension/SearchExtension.php
  lib/ApiPlatform/Tests/Elasticsearch/Extension/SearchExtensionTest.php
  lib/Elasticsearch/CachedConditionGenerator.php
  lib/Elasticsearch/ConditionGenerator.php
  lib/Elasticsearch/FieldMapping.php
  lib/Elasticsearch/QueryConditionGenerator.php
  lib/Elasticsearch/QueryPreparationHints.php
  lib/Elasticsearch/Tests/Functional/ConditionGeneratorResultsTest.php
  lib/Elasticsearch/Tests/Functional/FunctionalElasticsearchTestCase.php
  lib/Elasticsearch/Tests/QueryConditionGeneratorTest.php
Labels: Elasticsearch, Feature

#260 [Elasticsearch] Fix error handling for unknown mapping, and fix logical condition
  lib/Elasticsearch/QueryConditionGenerator.php
  lib/Elasticsearch/Tests/Functional/ConditionGeneratorResultsTest.php
  lib/Elasticsearch/Tests/QueryConditionGeneratorTest.php
Labels: Bug, Elasticsearch

#261 Data transformer fixes
  composer.json
  lib/Core/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformer.php
  lib/Core/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  lib/Core/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php
  lib/Core/composer.json
Labels: Bug, Core
